.main_sec_inner {
  width: 1440px;
  padding: 0 24px;
  margin: 0 auto;
}
/* main_sec_0 */
@keyframes updown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(12px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes updownbox {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
.main_sec_0 {
  background-color: #0C0D0F;
  color: #fff;
  height: 100vh;
  position: relative;
  .main_sec_inner {
    display: flex;
    align-items: center;
    position: relative;
    height: 100vh;
  }
}
.main_sec_0_text {
  z-index: 1;
  position: relative;
  margin-bottom: 201px;
  h1 {
    font-size: 54px;
    line-height: 81px;
    font-weight: 700;
    margin-bottom: 32px;
    opacity: 0;
    transform: translateY(30px);
    transition-property: opacity, transform;
    transition-duration: 1.2s;
  }
  p {
    strong {
      font-weight: inherit;
      color: #FF6600;
    }
    font-size: 24px;
    line-height: 36px;
    opacity: 0;
    transform: translateY(30px);
    transition-property: opacity, transform;
    transition-duration: 1.2s;
    transition-delay: .2s;
  }
}
.main_sec_0_visual {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -149px;
  width: 860px;
  height: 640px;
  /* background: url(../img/main/visual_object.svg) no-repeat center / contain; */
}
.main_sec_0_visual_object {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-repeat: no-repeat;
  background-size: contain;
  &:nth-child(1) {
    background-image: url(../img/main/visual_object_01.svg);
    transition: opacity .8s;
  }
  &:nth-child(2) {
    background-image: url(../img/main/visual_object_02.svg);
    transition: opacity 1.2s;
    animation: 1.6s linear .4s 1 updownbox;
  }
  &:nth-child(3) {
    background-image: url(../img/main/visual_object_03.svg);
    top: 30px;
    transition-property: opacity, top;
    transition-duration: 1.2s;
    transition-delay: .2s;
    animation: 1.4s ease 1.4s infinite updown;
  }
  &:nth-child(4) {
    background-image: url(../img/main/visual_object_04.svg);
    top: -30px;
    transition-property: opacity, top;
    transition-duration: 1.2s;
    transition-delay: .4s;
  }
  &:nth-child(5) {
    background-image: url(../img/main/visual_object_05.svg);
    left: 40px;
    transition-property: opacity, left;
    transition-duration: 1.4s;
    transition-delay: .6s;
  }
}
.main_sec_0_animate {
  .main_sec_0_text {
    h1 {
      opacity: 1;
      transform: translateY(0);
    }
    p {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .main_sec_0_visual_object {
    &:nth-child(1) {
      opacity: 1;
    }
    &:nth-child(2) {
      opacity: 1;
    }
    &:nth-child(3) {
      opacity: 1;
      top: 0;
    }
    &:nth-child(4) {
      opacity: 1;
      top: 0;
    }
    &:nth-child(5) {
      opacity: 1;
      left: 0;
    }
  }   
}


/* main_sec_1 */
.main_sec_1 {
  position: relative;
}

.main_sec_1_inner {
  width: 100%;
  position: relative;
  #s1_1_start {
    position: absolute;
    left: 0;
    top: 0;
  }
  #s1_2_start {
    position: absolute;
    left: 0;
    top: 200vh;
  }
  #s1_3_start {
    position: absolute;
    left: 0;
    top: 400vh;
  }
  #s1_4_start {
    position: absolute;
    left: 0;
    top: 600vh;
  }
  #s1_end {
    position: absolute;
    left: 0;
    top: 800vh;
  }
}

.main_sec_1_text {
  position: sticky;
  z-index: 1;
  top: 108px;
  margin-bottom: calc(108px - 100vh);
  height: calc(100vh - 108px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_sec_1_text_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
.main_sec_1_text_item {
  position: relative;
  text-align: center;
  color: rgba(255, 255, 255, .3);
  font-size: 32px;
  line-height: 48px;
  font-weight: 700;
}
.main_sec_1_text_last {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  top: 50%;
  font-size: 48px;
  line-height: 72px;
  font-weight: 700;
  height: 144px;
  margin-top: -72px;
  color: rgba(255, 255, 255, 0);
}
.main_sec_1_img_list {
  .main_sec_1_img_item {
    position: relative;
    display: block;
    height: 200vh;
    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .3);
    }
    &::before {
      content: '';
      display: block;
      position: sticky;
      top: 108px;
      height: calc(100vh - 108px);
      background-position: cover;
      background-repeat: no-repeat;
    }
    &:nth-child(1)::before {
      background-image: url(../img/main/bg1_1.png);
    }
    &:nth-child(2)::before {
      background-image: url(../img/main/bg1_2.png);
    }
    &:nth-child(3)::before {
      background-image: url(../img/main/bg1_3.png);
    }
    &:nth-child(4)::before {
      background-image: url(../img/main/bg1_4.png);
    }
  }
}


/* main_sec_2 */
.main_sec_2 {
  position: relative;
  z-index: 1;
  padding-top: 240px;
  h1 {
    font-size: 48px;
    line-height: 56px;
    font-weight: 700;
    margin-bottom: 80px;
    text-align: center;
  }
}
.main_sec_2_description {
  display: flex;
  gap: 24px;
  margin-bottom: 46px;
}
.main_sec_2_description_text {
  flex: auto;
  padding-top: 24px;
  h2 {
    font-size: 32px;
    line-height: 48px;
    font-weight: 700;
  }
  p {
    font-size: 18px;
    line-height: 27px;
  }
}
.main_sec_2_description_img {
  flex: none;
}

@keyframes rolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.main_sec_2_rolling {
  position: relative;
  display: flex;
  overflow: hidden;
  height: 48px;
  &::before {
    content: '';
    z-index: 1;
    display: block;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 3.3%;
    background: linear-gradient(90deg, rgba(255,255,255,1), rgba(255,255,255,0));
  }
  &::after {
    content: '';
    z-index: 1;
    display: block;
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    width: 3.3%;
    background: linear-gradient(-90deg, rgba(255,255,255,1), rgba(255,255,255,0));
  }
  margin-bottom: 100px;
}
.main_sec_2_rolling_list {
  flex: none;
  display: flex;
  gap: 64px;
  padding-right: 64px;
  animation: 20s linear infinite rolling;
}
.main_sec_2_info_box {
  display: flex;
  gap: 24px;
  height: 300px;
}
.main_sec_2_info_box_item {
  flex: auto;
  width: 100%;
  padding: 40px 40px 40px 382px;
  background-color: #22272E;
  background-repeat: no-repeat;
  background-size: 342px auto;
  color: #fff;
  &:nth-child(1) {
    background-image: url(../img/main/info_box_1.png);
  }
  &:nth-child(2) {
    background-image: url(../img/main/info_box_2.png);
  }
  h2 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    margin-bottom: 24px;
  }
  p {
    font-size: 16px;
    line-height: 24px;
    opacity: .8;
    + p {
      margin-top: 12px;
    }
  }
}

/* main_sec_3 */
.main_sec_3 {
  position: relative;
  z-index: 1;
  padding-top: 240px;
  padding-bottom: 240px;
  h1 {
    font-size: 48px;
    line-height: 56px;
    font-weight: 700;
    margin-bottom: 16px;
    text-align: center;
  }
  p {
    font-size: 24px;
    line-height: 36px;
    color: #485059;
    text-align: center;
    margin-bottom: 80px;
  }
}
.main_sec_3_link_box {
  display: flex;
  height: 664px;
  .link {
    flex: 1;
    position: relative;
    padding: 0 0 64px 48px;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: auto 664px;
    background-position: center;
    transition-property: flex, filter, background-position;
    transition-duration: .6s;
    filter: grayscale(100%);
    color: #fff;
    &:nth-child(1) {
      background-image: url(../img/link_1.png);
    }
    &:nth-child(2) {
      background-image: url(../img/link_2.png);
      background-position: left 45% center;
    }
    &:nth-child(3) {
      background-image: url(../img/link_3.png);
      background-position: left 70% center;
    }
    &:nth-child(4) {
      background-image: url(../img/link_4.png);
    }
    .view {
      opacity: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -50px 0 0 -50px;
      width: 100px;
      height: 100px;
      border-radius: 50px;
      background-color: #FF6600;
    }
    .tit {
      display: block;
      font-size: 24px;
      line-height: 28px;
      font-weight: 700;
      margin-bottom: 24px;
      opacity: 0;
      transform: translateY(20px);
    }
    .des {
      display: block;
      font-size: 16px;
      line-height: 24px;
      opacity: 0;
      transform: translateY(20px);
    }
    &.active {
      flex: 2.8983;
      width: 664px;
      filter: grayscale(0);
      background-position: center;
      .view {
        opacity: 1;
        transform: translateY(0);
        transition-property: opacity, transform;
        transition-duration: 1.2s;  
        transition-delay: .4s;
      }
      .tit {
        opacity: 1;
        transform: translateY(0);
        transition-property: opacity, transform;
        transition-duration: 1.2s;
        transition-delay: .4s;
      }
      .des {
        opacity: 1;
        transform: translateY(0);
        transition-property: opacity, transform;
        transition-duration: 1.2s;
        transition-delay: .6s;
      }
    }
  }
}

/* main_sec_4 */
.main_sec_4 {
  padding: 200px 0;
  background-color: #000;
  color: #fff;
  text-align: center;
  h1 {
    font-size: 48px;
    line-height: 56px;
    font-weight: 700;
    margin-bottom: 100px;
  }
  p {
    font-size: 24px;
    line-height: 36px;
    em {
      color: #FF6600;
    }
  }
}
.main_sec_4_process_list {
  display: flex;
  position: relative;
  gap: 24px;
  padding-bottom: 72px;
  margin-bottom: 41px;
  li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 212px;
    height: 212px;
    border-radius: 100%;
    border: 2.5px solid #8C959D;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    &:nth-child(2n) {
      background-color: rgba(245, 246, 247, 0.16);
    }
  }
  .arrow {
    position: absolute;
    left: 15px;
    bottom: 13px;
    width: calc(100% - 26px);
    height: 2px;
    background-color: #8C959D;
    border-radius: 0;
    border: 0;
    &::before {
      content: '';
      display: block;
      position: absolute;
      left: -13px;
      top: -6px;
      width: 14px;
      height: 14px;
      border-radius: 100%;
      border: 2px solid #8C959D;
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      right: -13px;
      top: -6px;
      width: 0;
      border-right: 0;
      border-left: 14px solid #8C959D;
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
    }
  }
}

/* .main_sec_5 */
.main_sec_5 {
  display: flex;
  height: 400px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  background: url(../img/main/sec5_bg.png) no-repeat center / cover;
  h1 {
    font-size: 48px;
    line-height: 56px;
    font-weight: 700;
  }
  p {
    margin-top: 24px;
    font-size: 18px;
    line-height: 27px;
  }
  a {
    margin-top: 32px;
    font-size: 24px;
    line-height: 36px;
    &::after {
      content: '';
      margin-left: 8px;
      display: inline-block;
      vertical-align: bottom;
      width: 24px;
      height: 24px;
      background: url(../img/main/link_arrow.svg) no-repeat center / contain;
    }
  }
}