/* sub_sec_top */
.sub_sec_top {
  height: calc(100vh - 109px);
  background-size: cover;
  background-position: center;
  color: #fff;
  .inner {
    position: relative;
    height: 100%;
  }
  &.sub01 {
    background-image: url(../img/sub/sub01_top_bg.png);
  }
  &.sub02 {
    background-image: url(../img/sub/sub02_top_bg.png);
  }
  &.sub03 {
    background-image: url(../img/sub/sub03_top_bg.png);
  }
  &.sub04 {
    background-image: url(../img/sub/sub04_top_bg.png);
  }
}
.sub_sec_top_text {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  margin-top: -170px;
  padding: 0 24px;
  h1 {
    font-size: 48px;
    line-height: 56px;
    font-weight: 700;
    margin-bottom: 24px;
  }
  p {
    font-size: 24px;
    line-height: 36px;
    font-weight: 300;
  }
  .sub_sec_img {
    display: block;
    position: relative;
    img {
      width: 100%;
    }
  }
}

/* sub_sec_cont */
.sub_sec_cont {
  padding: 240px 0;
  h1 {
    margin-bottom: 40px;
    font-size: 40px;
    line-height: 60px;
    font-weight: 700;
    text-align: center;
  }
  p {
    font-size: 18px;
    line-height: 27px;
    text-align: center;
  }
}
.sub_sec_img {
  margin: 64px 0 240px;
  img {
    margin: 0 auto;
  }
}

/* sub_des */
.sub_des {
  display: flex;
  gap: 24px;
}
.sub_des_text_wrap {
  width: calc(50% - 12px);
}
.sub_des_text {
  position: sticky;
  top: calc(50% - 121px);
  padding-top: 48px;
  height: 458px;
  background-color: #fff;
  &::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 0;
    display: block;
    width: 100%;
    height: 200px;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  }
  h2 {
    font-size: 32px;
    line-height: 48px;
    font-weight: 700;
    margin: 48px 0 32px;
  }
  li {
    font-size: 18px;
    line-height: 27px;
    color: #485059;
    padding-left: 16px;
    text-indent: -16px;
    &::before {
      content: '';
      display: inline-block;
      vertical-align: top;
      width: 5px;
      height: 5px;
      background-color: #8C959D;
      border-radius: 100%;
      margin: 11px 11px 0 0;
    }
  }
}
.sub_des_img_wrap {
  width: calc(50% - 12px);
}
.sub_des_img {
  height: 458px;
}

/* sub_sec_link */
.sub_sec_link {
  padding: 120px 0;
  background-color: #000;
  overflow: hidden;
  .sub_sec_link_box {
    display: flex;
    gap: 24px;
    .link {
      flex: none;
      position: relative;
      width: 330px;
      height: 330px;
      color: #fff;
      font-size: 20px;
      line-height: 30px;
      font-weight: 700;
      background-size: cover;
      background-repeat: no-repeat;
      transform: translateY(200px);
      opacity: 0;
      span {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.4);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 11px;
        &::after {
          content: '';
          display: block;
          width: 7px;
          height: 12px;
          background: url(../img/link_arrow.svg) no-repeat center / contain;
        }
      }
      &:nth-child(1) {
        background-image: url(../img/link_1.png);
      }
      &:nth-child(2) {
        background-image: url(../img/link_2.png);
      }
      &:nth-child(3) {
        background-image: url(../img/link_3.png);
      }
      &:nth-child(4) {
        background-image: url(../img/link_4.png);
      }
    }
    &.active-ani {
      .link {
        transform: translateY(0);
        opacity: 1;
        transition-property: transform opacity;
        transition-duration: .6s;
        &:nth-child(2) {
          transition-delay: .1s;
        }
        &:nth-child(3) {
          transition-delay: .2s;
        }
        &:nth-child(4) {
          transition-delay: .3s;
        }
      }
    }
  }
}